<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929786167291-i9h31runi0qpa5ui4uu0r9ksfrv9juof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929786167291-i9h31runi0qpa5ui4uu0r9ksfrv9juof</string>
	<key>API_KEY</key>
	<string>AIzaSyBXttlR2WGx9VaAK7V7QiHwFqyrns3J5dk</string>
	<key>GCM_SENDER_ID</key>
	<string>929786167291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creovine.taptimez</string>
	<key>PROJECT_ID</key>
	<string>timitiming-21d9a</string>
	<key>STORAGE_BUCKET</key>
	<string>timitiming-21d9a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929786167291:ios:61f3447d9ffdcf9dd5155e</string>
	<key>DATABASE_URL</key>
	<string>https://timitiming-21d9a-default-rtdb.firebaseio.com</string>
</dict>
</plist>